html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1REM = 10 pixeles*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  /*Interlineado*/
  line-height: 2;
}

/** Globales **/
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0 0 5rem 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #000;
}

.contenedor {
  max-width: 120rem;
  /*margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  * Es lo mismo a: */
  margin: 0 auto;
  /*Es lo mismo margin-inline: auto */
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  background-color: #8cbc00;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
  text-align: center;
}

.btn:hover {
  background-color: #769c02;
}

/* Utilidades */
.text-center {
  text-align: center;
}

.max-width-30 {
  max-width: 30rem;
}

/**  Header y Nav **/
.Nombre-Sitio {
  margin-top: 5rem;
  text-align: center;
}

.Nombre-Sitio span {
  color: #037bc0;
}

.Contenedor-Navegacion {
  /*border-color: #e1e1e1;
  border-top-style: solid;
  border-width: 1px;* Es lo mismo a:/*/
  border-top: 0.1rem solid #e1e1e1;
}

.Nav-Principal {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
}

/* Categorias */
.categorias {
  padding: 5rem;
}

.categorias h2 {
  text-align: center;
}

.Categoria a {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.Categoria a:hover {
  background-color: #037bc0;
  color: #fff;
  /*Sirve para redondear las esquinas*/
  /*border-radius: 40px;*/
  border-bottom-right-radius: 1rem;
}

.Listado-Cat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Sobre Nosotros */
.Sobre-Nosotros {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc0 50%,
      #037bc0 100%
    ),
    url(../img/nosotros.jpg);
  background-position: left center;
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
}

.Sobre-Nosotros-grid {
  display: flex;
  justify-content: flex-end;
}

.Texto-Nosotros {
  /*Ancho del Elemento*/
  flex-basis: 50%;
  padding-left: 10rem;
  color: #fff;
}

/* Listado de Productos */
.Contenido-Principal {
  padding-top: 5rem;
}

.Listado-Productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  /*gap: 2rem es igual a lo siguiente 
  column-gap: 2rem;
  row-gap: 2rem;
  */
}

.Producto:nth-child(1) {
  /* Inicio y Finilizacion de las columnas */
  grid-column: 1/7;
  display: grid;
  grid-template-columns: 2fr 2fr; /*fr = fraccion*/
}

.Producto:nth-child(1) img {
  height: 43rem;
  /* Esto va a tomar todo el ancho posible */
  width: 100%;
  object-fit: cover;
}

.Producto:nth-child(2) {
  /* Es lo mismo que grid-column */
  grid-column-start: 1;
  grid-column-end: 4;
}

.Producto:nth-child(2) img,
.Producto:nth-child(3) img {
  height: 30rem;
  /* Esto va a tomar todo el ancho posible */
  width: 100%;
  object-fit: cover;
}

.Producto:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 7;
}

.Producto:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Producto:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.Producto:nth-child(6) {
  grid-column-start: 5;
  grid-column-end: 7;
}

.Producto {
  background-color: #037bc0;
}

.Info-Productos {
  text-align: center;
  color: #fff;
  padding: 2rem;
}

.Info-Productos h3 {
  margin: 0;
}

.Info-Productos p {
  margin: 0 0 0.5rem 0;
}

.Info-Productos .Precio {
  font-size: 2.8rem;
  font-weight: 900;
}

/* Footer */
.site-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 5rem;
  padding-top: 5rem;
}

.site-footer h3 {
  margin-bottom: 0.5rem;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* .grid-footer div {
  /*Este es el factor de crecimiento que tendra el elemento
  /*flex: 1;
}  */

.footer-menu a {
  display: block;
}

.Copyright {
  text-align: center;
  margin-top: 5rem;
}

/* Sobre Nosotros */
.Contenido-Nosotros {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 4rem;
}

.Info-Nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Blog */
.Contenedor-Blog {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4rem;
}

.Entrada {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}

.Entrada:last-of-type {
  border-bottom: none;
}
.Entrada-Met {
  display: flex;
  justify-content: space-between;
}

.Entrada-Met p {
  font-weight: bold;
}

.Entrada-Met span {
  color: #037bc0;
}

.contenido-entrada-blog {
  width: 60rem;
  margin: 0 auto;
}

/* Galeria */
.Galeria {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.Galeria img {
  height: 40rem;
  width: 40rem;
  object-fit: cover;
}
