html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/** Globales **/
a {
  text-decoration: none;
  color: #000;
}

.contenedor {
  max-width: 1200px;
  /*margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  * Es lo mismo a: */
  margin: 0 auto;
  /*Es lo mismo margin-inline: auto */
}

img {
  max-width: 100%;
  display: block;
}

/**  Header y Nav **/
.Nombre-Sitio {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.Nombre-Sitio span {
  color: #037bc0;
}

.Contenedor-Navegacion {
  /*border-color: #e1e1e1;
  border-top-style: solid;
  border-width: 1px;* Es lo mismo a:/*/
  border-top: 1px solid #e1e1e1;
}

.Nav-Principal {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

/* Categorias */
.categorias h2 {
  text-align: center;
}

.Categoria a {
  text-align: center;
  display: block;
  padding: 20px;
  font-size: 20px;
}

.Categoria a:hover {
  background-color: #037bc0;
  color: #fff;
  /*Sirve para redondear las esquinas*/
  /*border-radius: 40px;*/
  border-bottom-right-radius: 10px;
}

.Listado-Cat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Box model*/
.Sobre-Nosotros {
  background-color: red;
  width: 200px;
  padding: 25px;
  box-sizing: border-box;
}

p {
  background-color: red;
  width: 500px;
  height: 100px;
  display: inline;
}

nav a {
  text-transform: uppercase;
}

.Navegacion a {
  text-transform: lowercase;
}

#Navegacion-Principal a {
  text-transform: capitalize;
}
